<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354105265420-5nh76q959or8gns4r0cb2p5rk953jhl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354105265420-5nh76q959or8gns4r0cb2p5rk953jhl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBVuzBXQc2O0ZTLHlqLgG0SWHBPw0LWE9A</string>
	<key>GCM_SENDER_ID</key>
	<string>354105265420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrick.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-b6240</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-b6240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354105265420:ios:fd9e8d0062261a34900d29</string>
</dict>
</plist>